body {
    background-color: #05271b;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ball1 {
    position: absolute;
    z-index: -1;
    right: 1170px;
    bottom: 50px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(#05271b, #05271b 40%, #11c76f)
}

#ball2 {
    position: absolute;
    z-index: -1;
    right: 620px;
    bottom: 150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(#05271b, #05271b 40%, #11c76f)
}

#ball3 {
    position: absolute;
    z-index: -1;
    right: 60px;
    bottom: 10px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: radial-gradient(#05271b, #05271b 40%, #11c76f)
}

#ball4 {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 350px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: radial-gradient(#05271b, #05271b 40%, #11c76f)
}

#ball5 {
    position: absolute;
    z-index: -1;
    right: 1110px;
    bottom: 380px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(#05271b, #05271b 40%, #11c76f)
}

.img_i {
    width: 20px;
    height: 20px;
    margin-right: 25px;
}

.div_status_i {
    display: flex;
}

.status {
    padding: 0;
    margin: 0;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: 400;


}

#img_logo {
    margin-right: 250px;
    margin-top: 15px;
    margin-left: 15px;
    width: 130px;
    height: 65px;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
}

main {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
}

article {
    border-radius: 10px;
    height: 80%;
    width: 20%;
    margin: 5%;
    justify-content: center;
    background-color: #f5f5f5;
}

article h3 {
    margin-bottom: 3%;
    font-weight: 500;
}

article h2,
h3 {
    width: 100%;
    text-align: center;
}

.timer {
    background-color: #05271b;
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-right: 15.5%;
    margin-left: 15.5%;
    padding: 0px;
}

ul li {
    display: inline;
    color: #f5f5f5;
}

.label {
    display: flex;
    margin-left: 13px;
}

.label li {
    font-weight: 500;
    width: 40%;
    display: flex;
    align-items: center;
    color: #05271b;
}

.label_on {
    background-color: #11c76f;
    width: 28px;
    height: 18px;
    margin-left: 5%;
    border: #05271b solid 1.5px;
}

.label_off {
    background-color: #fcdf8b;
    width: 28px;
    height: 18px;
    margin-left: 5%;
    border: #05271b solid 1.5px;
}




h1 {
    color: #f5f5f5;
    text-align: center;
}

.status_block {
    margin: auto;
    background-color: #f5f5f5;
    border: 3px solid #05271b;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
}

#status_bar_true {
    height: 99.2%;
    background-color: #11c76f;
    border: 0.5px solid #05271b;
    width:19.3%;
}

#status_bar_false {
    height: 99.2%;
    background-color: #fcdf8b;
    border: 0.5px solid #05271b;
    width:19.3%;
}

.animation{
    animation: transition 15s linear;
}
.animation2{
    animation: transition2 15s linear;
}

@keyframes transition{
    from {width: 0;}
    to {width:19.3%;}
}
@keyframes transition2{
    from {width: 19.3%;}
    to {width:0;}
}

.position{
    position: relative;
}
.hover_card{
    visibility: hidden;
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: #05271b;
    z-index: 10;
}
.btn{
    margin: 13px;
    display: inline;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
   
}


.modal-window{
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
}


.modal{
    width: 30%;
    min-width: 350px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.650);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    align-items: center;

}

.close{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: #941817;
    color: #f5f5f5;
    font-size: 20px;
    cursor: pointer;
}

.modal-window.open{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.modal h1{
    color:#05271b ;
}

